{
  "openapi": "3.0.0",
  "info": {
    "title": "EDIS Global ORDER API",
    "description": "Welcome to EDIS Global ORDER API 🚀\nThe EDIS Global ORDER API allows seamless integration with our infrastructure to automate the entire product lifecycle (ordering and cancellations).\n\nWhether you’re integrating into your billing system or automating your service orders, our ORDER API makes managing the product lifecycle of EDIS Global services simple and effective. Below is a quick overview to help you get started.\n\n🚀 **Get Started Here**\nFollow these steps to begin using the EDIS Global ORDER API:\n\n- **Authentication:** Ensure you are authenticated (WHMCS username and password)\n- **Explore the Endpoints:** Use the endpoints below to order and cancel VPS services in any of our worldwide server locations.\n\nAvailable API Endpoints:\n\n**Payment Methods**\n- POST `get payment methods`\n  Retrieve the available payment methods for your order.\n\n**Billing Cycles**\n- POST `get billingcycles`\n  Get available billing cycles for different products.\n\n**Locations**\n- POST `get locations`\n  Fetch all available VPS locations across the globe.\n\n**Products**\n- POST `get products`\n  List the available VPS products and configurations.\n\n**Place an Order**\n- POST `add order`\n  Add a new VPS order to the EDIS Global infrastructure.\n\n**Cancel a Product**\n- POST `cancel product`\n  Cancel a specific product or VPS service.\n\nFor more details on the EDIS Global ORDER API, please refer to the full documentation, and feel free to reach out if you have any questions or need assistance.\n\nHappy Coding!\nThe EDIS Global Team\n",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://order.edisglobal.com",
      "description": "Sandbox Server"
    }
  ],
  "paths": {
    "/kvm/v2/get/paymentmethods": {
      "post": {
        "summary": "Get Payment Options.",
        "description": "Get payment methods by providing WHMCS account details.\n",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/get_paymentmethods_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A list of available payment methods.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or missing fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_400"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid WHMCS credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_401"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://order.edisglobal.com",
            "description": "Specific endpoint for retrieving payment methods"
          }
        ]
      }
    },
    "/kvm/v2/get/services": {
      "servers": [
        {
          "url": "https://order.edisglobal.com",
          "description": "Production Server"
        }
      ],
      "post": {
        "summary": "Retrieve user services",
        "description": "Retrieves a list of services linked to the user's account based on the provided login credentials, including details such as service status, billing cycle, pricing, and location.",
        "operationId": "getUserServices",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "user@example.com",
                    "description": "Your WHMCS email address."
                  },
                  "pw": {
                    "type": "string",
                    "example": "securepassword123",
                    "description": "Your WHMCS password."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/get_services_response_200"
                },
                "examples": {
                  "successWithServices": {
                    "summary": "Services found",
                    "value": {
                      "services": [
                        {
                          "service_id": 312845,
                          "kvm_id": "kvm_114732_602381",
                          "status": "active",
                          "billingcycle": "Monthly",
                          "price": "0.00",
                          "creation_date": "2025-03-11",
                          "key_date": "2026-03-19",
                          "paymentmethod": "cryptomus",
                          "plan": "KVM BASIC",
                          "location": "Austria, Vienna"
                        }
                      ],
                      "status": "success"
                    }
                  },
                  "successNoServices": {
                    "summary": "No services found",
                    "value": {
                      "services": [],
                      "status": "success"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/get_services_response_400"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid WHMCS credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/get_services_response_401"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/get_services_response_500"
                }
              }
            }
          }
        }
      }
    },
    "/kvm/v2/get/billingcycles": {
      "post": {
        "summary": "Get Billing cycles.",
        "description": "Get the available billing cycles for a variety of products by authenticating with your WHMCS account.\n",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/get_billingcycles_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A list of available billing cycles.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_1"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or missing fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_400_1"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid WHMCS credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_401_1"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://order.edisglobal.com",
            "description": "Specific endpoint for retrieving billing cycles"
          }
        ]
      }
    },
    "/kvm/v2/get/serviceid": {
      "post": {
        "summary": "Get Service-ID.",
        "description": "Identify the service ID linked to a KVM instance by supplying your WHMCS credentials and KVM ID.\n",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/get_serviceid_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the service ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_2"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or missing fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_400_2"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid WHMCS credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_401_2"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The specified KVM instance does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_404"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://order.edisglobal.com",
            "description": "Specific endpoint for retrieving service ID"
          }
        ]
      }
    },
    "/kvm/v2/get/kvmid": {
      "post": {
        "summary": "Get KVM-ID.",
        "description": "Get the KVM ID for a specific service by providing your WHMCS login details and service ID.\n",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/get_kvmid_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the KVM ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_3"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or missing fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_400_2"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid WHMCS credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_401_2"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The specified service ID does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_404_1"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://order.edisglobal.com",
            "description": "Specific endpoint for retrieving KVM ID"
          }
        ]
      }
    },
    "/kvm/v2/get/locations": {
      "post": {
        "summary": "GEt VPS-Locations.",
        "description": "Get details of available VPS locations using your WHMCS account credentials.\n",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/get_locations_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved VPS locations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_4"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or missing fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_400_3"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid WHMCS credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_401_3"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://order.edisglobal.com",
            "description": "Specific endpoint for retrieving VPS locations"
          }
        ]
      }
    },
    "/kvm/v2/get/products": {
      "post": {
        "summary": "Get VPS-Plans.",
        "description": "Get available VPS plans and their configurations for a given location using your WHMCS credentials and the location ID retrieved from the get locations endpoint.\n",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/get_products_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved available products and configurations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_5"
                },
                "example": {
                  "data": false,
                  "products": {
                    "KVM SMART": {
                      "id": 1382,
                      "description": "1024 MB RAM\r\n15 GB SSD\r\n1 IPv4 + /64 IPv6\r\n1 TB Traffic\r\nKVM based",
                      "addons": {
                        "operating system": {
                          "88": {
                            "id": 88,
                            "description": "Ubuntu LTS 20.04 64Bit"
                          },
                          "92": {
                            "id": 92,
                            "description": "alternative / manual installation via VNC"
                          }
                        },
                        "additional ram": {
                          "396": {
                            "id": 396,
                            "description": "+1GB"
                          },
                          "416": {
                            "id": 416,
                            "description": "no"
                          }
                        },
                        "additional ip": {
                          "8": {
                            "id": 8,
                            "description": "no additional IPs"
                          },
                          "9": {
                            "id": 9,
                            "description": "1 IP"
                          }
                        }
                      }
                    },
                    "KVM STARTER": {
                      "id": 1387,
                      "description": "2048 MB RAM\r\n20 GB SSD\r\n1 IPv4 + /64 IPv6\r\n2 TB Traffic\r\nKVM based",
                      "addons": {
                        "operating system": {
                          "208": {
                            "id": 208,
                            "description": "Debian 12 (Bookworm) 64Bit"
                          }
                        },
                        "additional drive boost": {
                          "605": {
                            "id": 605,
                            "description": "100GB"
                          }
                        }
                      }
                    },
                    "global products": {
                      "traffic pool": {
                        "TOP UP TRAFFIC POOL 1 TB": {
                          "id": 1872,
                          "description": "EDIS has two traffic zones: Global traffic zone EUR 6,-- per 1 TB"
                        }
                      }
                    }
                  },
                  "status": "success"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or missing fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_400_4"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid WHMCS credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_401_4"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The specified location ID does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_404_2"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://order.edisglobal.com",
            "description": "Specific endpoint for retrieving VPS products"
          }
        ]
      }
    },
    "/kvm/v2/add/order": {
      "post": {
        "summary": "Order-VPS.",
        "description": "Place a new VPS order by authenticating with your WHMCS credentials and specifying the order details in JSON format.\n\n### JSON Parameters:\n- **billingcycle**: Specifies the billing cycle, e.g., 'monthly' or 'yearly'.\n- **paymentmethod**: Specifies the payment method, e.g., 'paypal'.\n- **applycredit**: Specifies whether to apply available account credit for the order. Accepts `true` or `false`.\n- **item**: An array of product configurations:\n  - **pid**: Product ID.\n  - **os**: Operating System ID.\n  - **hostname**: Hostname for the VPS.\n  - **additional_ram**: Additional RAM requested (optional).\n  - **additional_vcpu**: Additional vCPU requested (optional).\n  - **additional_ip**: Additional IPs requested (optional).\n  - **additional_diskboost**: Additional disk boost requested (optional).\n  - **ssh_pubkey**: Public SSH key for access.\n\n### **Response Behavior:**\n- If `applycredit` is set to `true` and there is sufficient credit in the account, the response will return:\n  ```json\n  { \"invoicepaid\": true }\n  ```\n- If there is insufficient credit or the request is incorrect, the response will return:\n  ```json\n  { \"invoicepaid\": false }\n  ```\n\n**Example JSON:**\n```json\n{\n  \"billingcycle\": \"monthly\",\n  \"paymentmethod\": \"paypal\",\n  \"applycredit\": true,\n  \"item\": [\n    {\n      \"pid\": 1814,\n      \"os\": 92,\n      \"hostname\": \"kvmtest\",\n      \"additional_ram\": 467,\n      \"additional_vcpu\": 467,\n      \"additional_ip\": 467,\n      \"additional_diskboost\": 615,\n      \"ssh_pubkey\": \"ssh-rsa. ...\"\n    },\n    {\n      \"pid\": 1814,\n      \"os\": 88,\n      \"hostname\": \"kvmtest2\",\n      \"additional_ram\": \"\",\n      \"additional_vcpu\": \"\",\n      \"additional_ip\": \"\",\n      \"additional_driveboost\": \"\",\n      \"ssh_pubkey\": \"ssh-rsa. ...\"\n    }\n  ]\n}\n```\n\n⚠️ **Note:**\nIf you receive a response like `\"status\": \"failed\"` along with an `orderid`, it may indicate that the VPS could not be provisioned due to the product being **out of stock** in the selected location.\n\n**Example Failed Response:**\n```json\n{\n  \"status\": \"failed\",\n  \"orderid\": 241158\n}\n```",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/add_order_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully added a new VPS order.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_6"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or JSON format.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_400_5"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid WHMCS credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_401_5"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Unable to process the order.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_500"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://order.edisglobal.com",
            "description": "Specific endpoint for retrieving new VPS order"
          }
        ]
      }
    },
    "/kvm/v2/add/upgrade": {
      "post": {
        "summary": "Upgrade a KVM Service",
        "description": "Upgrades a KVM service to a new product within the same location.",
        "operationId": "upgradeKVM",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "user@example.com"
                  },
                  "pw": {
                    "type": "string",
                    "example": "securepassword"
                  },
                  "kvmid": {
                    "type": "string",
                    "example": "kvm_123456_789012",
                    "description": "KVM service ID(kvm_id) or numeric client ID."
                  },
                  "newpid": {
                    "type": "integer",
                    "example": 1642,
                    "description": "New Product ID, must be within the same location"
                  },
                  "newbillingcycle": {
                    "type": "string",
                    "enum": ["monthly", "quarterly", "semi-annually", "annually"],
                    "example": "monthly",
                    "description": "Billing cycle for the upgraded product. Please select from the dropdown list."
                  },
                  "newpaymentmethod": {
                    "type": "string",
                    "example": "paypal"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upgrade successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "orderid": {
                      "type": "string",
                      "example": "228300"
                    },
                    "serviceid": {
                      "type": "string",
                      "example": "209052"
                    },
                    "invoiceid": {
                      "type": "string",
                      "example": "1617670"
                    },
                    "oldproductname": {
                      "type": "string",
                      "example": "KVM BASIC"
                    },
                    "newproductname": {
                      "type": "string",
                      "example": "KVM PREMIUM PLUS"
                    },
                    "oldproductid": {
                      "type": "string",
                      "example": "1632"
                    },
                    "newproductid": {
                      "type": "string",
                      "example": "1642"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid parameters provided."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, wrong credentials",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Authentication failed. Invalid email or password."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Unexpected server error. Please try again later."
                    }
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://order.edisglobal.com",
            "description": "Specific endpoint for retrieving new VPS order"
          }
        ]
      }
    },
    "/kvm/v2/cancel/product": {
      "post": {
        "summary": "Cancel-VPS.",
        "description": "To cancel a VPS product, provide either the KVM ID or service ID, along with the type of cancellation you wish to proceed with.\n",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/cancel_product_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully canceled the product.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_7"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or missing fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_400_6"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid WHMCS credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_401_6"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The specified KVM ID or service ID does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_404_3"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://order.edisglobal.com",
            "description": "Specific endpoint for retrieving cancel a VPS"
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "get_paymentmethods_body": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "Your WHMCS email address.",
            "example": "yourwhmc_email"
          },
          "pw": {
            "type": "string",
            "description": "Your WHMCS password.",
            "example": "yourwhmcs_password"
          }
        }
      },
      "inline_response_200": {
        "type": "object",
        "properties": {
          "paymentmethods": {
            "type": "array",
            "description": "A list of available payment methods.",
            "example": [
              "paypal",
              "alipay",
              "creditcard",
              "cryptomus"
            ],
            "items": {
              "type": "string"
            }
          },
          "status": {
            "type": "string",
            "example": "success"
          }
        }
      },
      "inline_response_400": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "Invalid parameters or missing fields."
          }
        }
      },
      "inline_response_401": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "Invalid WHMCS credentials."
          }
        }
      },
      "service_item": {
        "type": "object",
        "properties": {
          "service_id": {
            "type": "integer",
            "example": 312845,
            "description": "Unique WHMCS service identifier for the VPS."
          },
          "kvm_id": {
            "type": "string",
            "example": "kvm_114732_602381",
            "description": "EDIS KVM instance identifier."
          },
          "status": {
            "type": "string",
            "enum": ["active", "suspended", "terminated"],
            "example": "active",
            "description": "Service lifecycle status. Possible values: `active`, `suspended`, `terminated`."
          },
          "billingcycle": {
            "type": "string",
            "example": "Monthly",
            "description": "Billing cycle of the service (e.g., Monthly, Quarterly, Annually, One Time)."
          },
          "price": {
            "type": "string",
            "example": "0.00",
            "description": "Recurring price for the selected billing cycle (string format)."
          },
          "creation_date": {
            "type": "string",
            "format": "date",
            "example": "2025-03-11",
            "description": "Creation date of the VPS."
          },
          "key_date": {
            "type": "string",
            "format": "date",
            "example": "2026-03-19",
            "description": "Next invoice due date for this service."
          },
          "paymentmethod": {
            "type": "string",
            "example": "cryptomus",
            "description": "Payment method assigned to the service."
          },
          "plan": {
            "type": "string",
            "example": "KVM BASIC",
            "description": "Product/plan name of the VPS."
          },
          "location": {
            "type": "string",
            "example": "Austria, Vienna",
            "description": "VPS hosting location."
          }
        }
      },

      "get_services_response_200": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "success",
            "description": "Request status. Returns `success` when the request was processed correctly."
          },
          "services": {
            "type": "array",
            "description": "List of services linked to the authenticated account. Returns an empty array if no services exist. ⚠️ **Detailed field descriptions are available under “Show child attributes”.**",
            "items": {
              "$ref": "#/components/schemas/service_item"
            }
          }
        }
      },

      "get_services_response_400": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "error"
          },
          "errormsg": {
            "type": "string",
            "example": "Invalid email or password.",
            "description": "Error message if authentication fails."
          }
        }
      },

      "get_services_response_401": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "error"
          },
          "errormsg": {
            "type": "string",
            "example": "Invalid WHMCS credentials."
          }
        }
      },

      "get_services_response_500": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "error"
          },
          "errormsg": {
            "type": "string",
            "example": "Internal server error. Please try again later.",
            "description": "General server-side error message."
          }
        }
      },
      "get_billingcycles_body": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "Your WHMCS email address.",
            "example": "yourwhmc_email"
          },
          "pw": {
            "type": "string",
            "description": "Your WHMCS password.",
            "example": "yourwhmcs_password"
          }
        }
      },
      "inline_response_200_1": {
        "type": "object",
        "properties": {
          "billingcycle": {
            "type": "array",
            "example": [
              "monthly",
              "quarterly",
              "semiannually",
              "annually"
            ],
            "items": {
              "type": "string"
            }
          },
          "status": {
            "type": "string",
            "example": "success"
          }
        }
      },
      "inline_response_400_1": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "Invalid parameters or missing fields."
          },
          "status": {
            "type": "string",
            "example": "error"
          }
        }
      },
      "inline_response_401_1": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "Invalid WHMCS credentials."
          },
          "status": {
            "type": "string",
            "example": "error"
          }
        }
      },
      "get_serviceid_body": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "Your WHMCS email address.",
            "example": "yourwhmc_email"
          },
          "pw": {
            "type": "string",
            "description": "Your WHMCS password.",
            "example": "yourwhmcs_password"
          },
          "kvmid": {
            "type": "string",
            "description": "The KVM instance ID.",
            "example": "kvm_xxxxxx_yyyyyyyy"
          }
        }
      },
      "inline_response_200_2": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "success"
          },
          "kvmid": {
            "type": "string",
            "example": "kvm_123456_789012"
          },
          "serviceid": {
            "type": "integer",
            "example": 987654
          }
        }
      },
      "inline_response_400_2": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "error"
          },
          "message": {
            "type": "string",
            "example": "Invalid parameters or missing fields."
          }
        }
      },
      "inline_response_401_2": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "error"
          },
          "message": {
            "type": "string",
            "example": "Invalid WHMCS credentials."
          }
        }
      },
      "inline_response_404": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "error"
          },
          "message": {
            "type": "string",
            "example": "The specified KVM instance does not exist."
          }
        }
      },
      "get_kvmid_body": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "Your WHMCS email address.",
            "example": "yourwhmc_email"
          },
          "pw": {
            "type": "string",
            "description": "Your WHMCS password.",
            "example": "yourwhmcs_password"
          },
          "serviceid": {
            "type": "string",
            "description": "The service ID.",
            "example": "xxxxxxxxx"
          }
        }
      },
      "inline_response_200_3": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "success"
          },
          "kvmid": {
            "type": "string",
            "example": "kvm_123456_789012"
          },
          "serviceid": {
            "type": "string",
            "example": "987654"
          }
        }
      },
      "inline_response_404_1": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "error"
          },
          "message": {
            "type": "string",
            "example": "The specified service ID does not exist."
          }
        }
      },
      "get_locations_body": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "Your WHMCS email address.",
            "example": "yourwhmc_email"
          },
          "pw": {
            "type": "string",
            "description": "Your WHMCS password.",
            "example": "yourwhmcs_password"
          }
        }
      },
      "inline_response_200_4": {
        "type": "object",
        "properties": {
          "locations": {
            "type": "object",
            "description": "Available KVM locations keyed by location label.\n\nFields per location:\n- `id`: Unique identifier of the location.\n- `name`: Display name of the location.\n- `country`: Country or region code for the location.\n- `out_of_stock`: Availability flag; `false` means available to order, `true` means currently unavailable.\n- `headline`: Optional marketing headline for the location."
          },
          "status": {
            "type": "string",
            "example": "success"
          }
        },
        "example": {
          "locations": {
            "KVM Hong Kong": {
              "id": 22,
              "headline": null,
              "name": "Hong Kong",
              "country": "hk",
              "out_of_stock": false
            },
            "KVM Iceland": {
              "id": 24,
              "headline": null,
              "name": "Iceland",
              "country": "is",
              "out_of_stock": false
            },
            "KVM Russia, St. Petersburg": {
              "id": 31,
              "headline": "",
              "name": "Russia, St. Petersburg",
              "country": "ru-sp",
              "out_of_stock": true
            },
            "KVM Slovenia": {
              "id": 36,
              "headline": null,
              "name": "Slovenia",
              "country": "si",
              "out_of_stock": false
            },
            "KVM Hungary": {
              "id": 46,
              "headline": null,
              "name": "Hungary",
              "country": "hu",
              "out_of_stock": false
            },
            "KVM Bulgaria": {
              "id": 51,
              "headline": null,
              "name": "Bulgaria",
              "country": "bg",
              "out_of_stock": false
            },
            "KVM Italy, Sicily, Palermo": {
              "id": 52,
              "headline": null,
              "name": "Italy, Sicily, Palermo",
              "country": "it-pa",
              "out_of_stock": false
            },
            "KVM Canada": {
              "id": 57,
              "headline": "Montreal, Canada",
              "name": "Canada",
              "country": "ca",
              "out_of_stock": false
            },
            "KVM Japan": {
              "id": 62,
              "headline": null,
              "name": "Japan",
              "country": "jp",
              "out_of_stock": false
            },
            "KVM Singapore": {
              "id": 67,
              "headline": null,
              "name": "Singapore",
              "country": "sg",
              "out_of_stock": false
            },
            "KVM Israel": {
              "id": 72,
              "headline": null,
              "name": "Israel",
              "country": "il",
              "out_of_stock": false
            },
            "KVM Chile": {
              "id": 77,
              "headline": null,
              "name": "Chile",
              "country": "cl",
              "out_of_stock": false
            },
            "KVM Moldova": {
              "id": 78,
              "headline": null,
              "name": "Moldova",
              "country": "md",
              "out_of_stock": false
            },
            "KVM Czech Republic": {
              "id": 83,
              "headline": "KVM Czech Republic",
              "name": "Czech Republic",
              "country": "cz",
              "out_of_stock": false
            },
            "KVM Serbia": {
              "id": 88,
              "headline": "",
              "name": "Serbia",
              "country": "rs",
              "out_of_stock": false
            },
            "KVM USA": {
              "id": 93,
              "headline": "New York Metropolitan Area",
              "name": "USA",
              "country": "us",
              "out_of_stock": false
            },
            "KVM Greece": {
              "id": 94,
              "headline": "",
              "name": "Greece",
              "country": "gr",
              "out_of_stock": false
            },
            "KVM Australia": {
              "id": 100,
              "headline": "",
              "name": "Australia",
              "country": "au",
              "out_of_stock": false
            },
            "KVM Belgium": {
              "id": 102,
              "headline": "KVM vps in Brussels, Belgium",
              "name": "Belgium",
              "country": "be",
              "out_of_stock": false
            },
            "KVM Austria, Graz": {
              "id": 107,
              "headline": "KVM vps in Graz, Austria",
              "name": "Austria, Graz",
              "country": "at-grz",
              "out_of_stock": true
            },
            "KVM Germany": {
              "id": 122,
              "headline": "KVM vps in Frankfurt, Germany",
              "name": "Germany",
              "country": "de",
              "out_of_stock": false
            },
            "KVM United Kingdom": {
              "id": 127,
              "headline": "KVM VPS in the City of London",
              "name": "United Kingdom",
              "country": "uk",
              "out_of_stock": true
            },
            "KVM Sweden": {
              "id": 132,
              "headline": "KVM vps in Stockholm, Sweden",
              "name": "Sweden",
              "country": "se",
              "out_of_stock": false
            },
            "KVM France": {
              "id": 137,
              "headline": "KVM vps in Paris, France",
              "name": "France",
              "country": "fr",
              "out_of_stock": false
            },
            "KVM Poland": {
              "id": 142,
              "headline": "KVM vps in Warsaw, Poland",
              "name": "Poland",
              "country": "pl",
              "out_of_stock": false
            },
            "KVM Spain": {
              "id": 147,
              "headline": "KVM vps in Seville, Spain",
              "name": "Spain",
              "country": "es",
              "out_of_stock": false
            },
            "KVM Italy, Milan": {
              "id": 152,
              "headline": "KVM vps in Milan, Italy",
              "name": "Italy, Milan",
              "country": "it",
              "out_of_stock": false
            },
            "KVM Netherlands": {
              "id": 157,
              "headline": "KVM vps in Schiphol-Rijk (Amsterdam), Netherlands",
              "name": "Netherlands",
              "country": "nl",
              "out_of_stock": false
            },
            "KVM Romania": {
              "id": 162,
              "headline": "KVM vps in Bucharest, Romania",
              "name": "Romania",
              "country": "ro",
              "out_of_stock": false
            },
            "KVM Denmark": {
              "id": 167,
              "headline": "Copenhagen, Denmark",
              "name": "Denmark",
              "country": "dk",
              "out_of_stock": false
            },
            "KVM Norway": {
              "id": 172,
              "headline": "KVM vps in Oslo, Norway",
              "name": "Norway",
              "country": "no",
              "out_of_stock": false
            },
            "KVM United Arab Emirates": {
              "id": 177,
              "headline": "KVM vps in Dubai, United Arab Emirates",
              "name": "United Arab Emirates",
              "country": "ae",
              "out_of_stock": false
            },
            "KVM Russia, Moscow": {
              "id": 182,
              "headline": "KVM vps in Moscow, Russia",
              "name": "Russia, Moscow",
              "country": "ru",
              "out_of_stock": true
            },
            "KVM Austria, Vienna": {
              "id": 192,
              "headline": "KVM VPS/VDS in Vienna, Austria",
              "name": "Austria, Vienna",
              "country": "at",
              "out_of_stock": false
            },
            "KVM Lithuania": {
              "id": 197,
              "headline": "KVM vps in Vilnius, Lithuania",
              "name": "Lithuania",
              "country": "lt",
              "out_of_stock": false
            },
            "KVM Latvia": {
              "id": 202,
              "headline": "KVM vps in Riga, Latvia",
              "name": "Latvia",
              "country": "lv",
              "out_of_stock": false
            },
            "KVM Croatia": {
              "id": 207,
              "headline": "KVM vps in Zagreb, Croatia",
              "name": "Croatia",
              "country": "hr",
              "out_of_stock": false
            },
            "KVM North Macedonia": {
              "id": 208,
              "headline": "KVM vps in Skopje, North Macedonia",
              "name": "North Macedonia",
              "country": "mk",
              "out_of_stock": false
            },
            "KVM USA, Miami": {
              "id": 211,
              "headline": "",
              "name": "USA, Miami",
              "country": "us-mia",
              "out_of_stock": true
            },
            "KVM United Kingdom, London Docklands": {
              "id": 212,
              "headline": "NEW! London, Canary Wharf",
              "name": "United Kingdom, London Docklands",
              "country": "uk-lnd",
              "out_of_stock": false
            },
            "KVM Austria, Vienna Interxion": {
              "id": 215,
              "headline": "KVM VPS @ Vienna Interxion",
              "name": "Austria, Vienna Interxion",
              "country": "at-vie",
              "out_of_stock": false
            },
            "KVM Colombia": {
              "id": 217,
              "headline": "KVM vps in Bogotá, Colombia",
              "name": "Colombia",
              "country": "co",
              "out_of_stock": false
            },
            "KVM USA, Los Angeles": {
              "id": 219,
              "headline": "",
              "name": "USA, Los Angeles",
              "country": "us-lax",
              "out_of_stock": false
            },
            "KVM Cyprus": {
              "id": 221,
              "headline": "",
              "name": "Cyprus",
              "country": "cy",
              "out_of_stock": false
            },
            "KVM Estonia": {
              "id": 222,
              "headline": "Tallinn, Estonia",
              "name": "Estonia",
              "country": "ee",
              "out_of_stock": false
            },
            "KVM Switzerland, Zurich": {
              "id": 223,
              "headline": "KVM Switzerland, Zurich",
              "name": "Switzerland, Zurich",
              "country": "ch-zrh",
              "out_of_stock": false
            },
            "KVM Finland": {
              "id": 225,
              "headline": "KVM VPS in Helsinki, Finland",
              "name": "Finland",
              "country": "fi",
              "out_of_stock": false
            },
            "KVM Sweden, Stockholm": {
              "id": 226,
              "headline": "KVM vps in Sweden, Stockholm",
              "name": "Sweden, Stockholm",
              "country": "se-sto",
              "out_of_stock": false
            }
          },
          "status": "success"
        }
      },
      "inline_response_400_3": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "error"
          },
          "message": {
            "type": "string",
            "example": "Invalid parameters or missing fields."
          },
          "errors": {
            "type": "array",
            "example": [
              "email is required",
              "password is required"
            ],
            "items": {
              "type": "string"
            }
          }
        }
      },
      "inline_response_401_3": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "error"
          },
          "message": {
            "type": "string",
            "example": "Invalid WHMCS credentials."
          },
          "details": {
            "type": "string",
            "example": "The provided credentials are incorrect or expired."
          }
        }
      },
      "get_products_body": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "Your WHMCS email address.",
            "example": "yourwhmc_email"
          },
          "pw": {
            "type": "string",
            "description": "Your WHMCS password.",
            "example": "yourwhmc_password"
          },
          "location_id": {
            "type": "string",
            "description": "The location ID obtained from the `get locations` call.",
            "example": "location_id"
          }
        }
      },
      "inline_response_200_5": {
        "type": "object",
        "properties": {
          "data": {
            "type": "boolean",
            "example": false
          },
          "products": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "example": 1234
                },
                "description": {
                  "type": "string",
                  "example": "1024 MB RAM, 15 GB SSD, 1 IPv4 + /64 IPv6, 1 TB Traffic"
                },
                "addons": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 567
                        },
                        "description": {
                          "type": "string",
                          "example": "Ubuntu LTS 22.04 64Bit"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "status": {
            "type": "string",
            "example": "success"
          }
        }
      },
      "inline_response_400_4": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "error"
          },
          "message": {
            "type": "string",
            "example": "Invalid parameters or missing fields."
          },
          "errors": {
            "type": "array",
            "example": [
              "location ID is required",
              "invalid email format"
            ],
            "items": {
              "type": "string"
            }
          }
        }
      },
      "inline_response_401_4": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "error"
          },
          "message": {
            "type": "string",
            "example": "Invalid WHMCS credentials provided."
          },
          "suggestion": {
            "type": "string",
            "example": "Please check your username and password and try again."
          }
        }
      },
      "inline_response_404_2": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "error"
          },
          "message": {
            "type": "string",
            "example": "The specified location ID does not exist."
          },
          "hint": {
            "type": "string",
            "example": "Please verify the location ID and ensure it is correct."
          }
        }
      },
      "add_order_body": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "Your WHMCS email address.",
            "example": "yourwhmc_email"
          },
          "pw": {
            "type": "string",
            "description": "Your WHMCS password.",
            "example": "yourwhmcs_password"
          },
          "order": {
            "type": "string",
            "description": "JSON-encoded string that includes order details such as billing cycle, payment method, apply credit, and VPS item configurations. Each item specifies properties like product ID (pid), operating system (os), hostname, additional resources (RAM, vCPU, IP), and an optional SSH public key.",
            "example": "{\n  \"billingcycle\": \"monthly\",\n  \"paymentmethod\": \"paypal\",\n  \"applycredit\": true,\n  \"item\": [\n    {\n      \"pid\": 1814,\n      \"os\": 92,\n      \"hostname\": \"kvmtest\",\n      \"additional_ram\": 467,\n      \"additional_vcpu\": 467,\n      \"additional_ip\": 467,\n      \"additional_diskboost\": 615,\n      \"ssh_pubkey\": \"ssh-rsa. ...\"\n    },\n    {\n      \"pid\": 1814,\n      \"os\": 88,\n      \"hostname\": \"kvmtest2\",\n      \"additional_ram\": \"\",\n      \"additional_vcpu\": \"\",\n      \"additional_ip\": \"\",\n      \"additional_driveboost\": \"\",\n      \"ssh_pubkey\": \"ssh-rsa. ...\"\n    }\n  ]\n}\n"
          }
        }
      },
      "inline_response_200_6": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "success"
          },
          "orderid": {
            "type": "integer",
            "example": 123456
          },
          "serviceids": {
            "type": "string",
            "example": "123456,123457"
          },
          "invoiceid": {
            "type": "integer",
            "example": 654321
          },
          "invoicepaid": {
            "type": "boolean",
            "description": "Indicates whether the invoice was paid successfully using available credit or another payment method.",
            "example": true
          }
        }
      },
      "inline_response_400_5": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "error"
          },
          "message": {
            "type": "string",
            "example": "Invalid parameters or incorrect JSON format."
          },
          "errors": {
            "type": "array",
            "example": [
              "billingcycle is required",
              "invalid JSON structure"
            ],
            "items": {
              "type": "string"
            }
          }
        }
      },
      "inline_response_401_5": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "error"
          },
          "message": {
            "type": "string",
            "example": "Invalid WHMCS credentials provided."
          },
          "suggestion": {
            "type": "string",
            "example": "Please verify your username and password and try again."
          }
        }
      },
      "inline_response_500": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "error"
          },
          "message": {
            "type": "string",
            "example": "An unexpected error occurred while processing the order."
          },
          "support": {
            "type": "string",
            "example": "Please contact support with the order details for assistance."
          }
        }
      },
      "cancel_product_body": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "Your WHMCS email address.",
            "example": "yourwhmc_email"
          },
          "pw": {
            "type": "string",
            "description": "Your WHMCS password.",
            "example": "yourwhmcs_password"
          },
          "kvmid": {
            "type": "string",
            "description": "The KVM ID to cancel if the service ID is unknown.",
            "example": "kvm_xxxxx_yyyyy"
          },
          "serviceid": {
            "type": "string",
            "description": "The service ID to cancel if the KVM ID is unknown.",
            "example": "1234"
          },
          "type": {
            "type": "string",
            "description": "The type of cancellation. Either 'Immediate' or 'End of Billing Period'.",
            "example": "End of Billing Period"
          }
        }
      },
      "inline_response_200_7": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "success"
          },
          "serviceid": {
            "type": "integer",
            "example": 123456
          },
          "clientid": {
            "type": "integer",
            "nullable": true
          }
        }
      },
      "inline_response_400_6": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "error"
          },
          "message": {
            "type": "string",
            "example": "Invalid parameters or missing required fields."
          },
          "errors": {
            "type": "array",
            "example": [
              "service ID is required",
              "cancellation type is invalid"
            ],
            "items": {
              "type": "string"
            }
          }
        }
      },
      "inline_response_401_6": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "error"
          },
          "message": {
            "type": "string",
            "example": "Invalid WHMCS credentials provided."
          },
          "suggestion": {
            "type": "string",
            "example": "Please check your credentials and try again."
          }
        }
      },
      "inline_response_404_3": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "error"
          },
          "message": {
            "type": "string",
            "example": "The specified KVM ID or service ID does not exist."
          },
          "hint": {
            "type": "string",
            "example": "Please verify the provided KVM ID or service ID and try again."
          }
        }
      }
    }
  }
}
